html {
  background-color: var(--color-background);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
p {
  font-family: "quador", serif;
  font-weight: var(--weight-normal);
  font-size: 1rem;
  color: var(--color-text);
  text-align: center;
}

a {
  color: var(--color-text);
}

.bold {
  font-weight: var(--weight-bold);
}

.logo {
  width: clamp(100px, 65vw, 400px);
  max-width: 100%;
}

@media screen and (min-width: 600px) {
  .logo {
    width: auto;
    height: clamp(100px, 20vh, 200px);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  padding: 0 .5rem;
  position: relative;
  overflow: hidden;
}

.elephant {
  width: clamp(150px, 20vw, 250px);
  height: clamp(150px, 20vw, 250px);
  position: absolute;
  transition: .5s;
  border-radius: 50%;
}

.elephant--one {
  top: 5vh;
  left: -50px;
  transform: rotate(25deg);
}

@media screen and (min-width: 600px) {
  .elephant--one {
    top: 10vh;
  }
}

.elephant--two {
  top: -20px;
  left: 70vw;
  transform: rotate(-30deg);
}

@media screen and (min-width: 600px) {
  .elephant--two {
    top: -50px;
    left: 60vw;
  }
}

.elephant--three {
  bottom: clamp(0px, 8vw, 15vh);
  right: -50px;
  transform: rotate(25deg);
}

@media screen and (min-width: 600px) {
  .elephant--three {
    bottom: clamp(100px, 20vw, 15vh);
  }
}

.elephant--four {
  bottom: -50px;
  left: 0vw;
  transform: rotate(-20deg);
}

@media screen and (min-width: 600px) {
  .elephant--four {
    bottom: -50px;
    left: 10vw;
  }
}

.elephant--one--float {
  animation: float--one 6s ease-in-out;
}

.elephant--two--float {
  animation: float--two 6s ease-in-out;
}

.elephant--three--float {
  animation: float--three 6s ease-in-out;
}

.elephant--four--float {
  animation: float--four 6s ease-in-out;
}

@keyframes float--one {
  0% {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.3);
    transform: translatey(0px) rotate(25deg);
  }
  50% {
    box-shadow: 0 15px 10px 0px rgba(0,0,0,0.2);
    transform: translatey(-15px) rotate(20deg);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.3);
    transform: translatey(0px) rotate(25deg);
  }
}

@keyframes float--two {
  0% {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.3);
    transform: translatey(0px) rotate(-30deg);
  }
  50% {
    box-shadow: 0 15px 10px 0px rgba(0,0,0,0.2);
    transform: translatey(-15px) rotate(-25deg);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.3);
    transform: translatey(0px) rotate(-30deg);
  }
}

@keyframes float--three {
  0% {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.3);
    transform: translatey(0px) rotate(25deg);
  }
  50% {
    box-shadow: 0 15px 10px 0px rgba(0,0,0,0.2);
    transform: translatey(-15px) rotate(20deg);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.3);
    transform: translatey(0px) rotate(25deg);
  }
}

@keyframes float--four {
  0% {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.3);
    transform: translatey(0px) rotate(-20deg);
  }
  50% {
    box-shadow: 0 15px 10px 0px rgba(0,0,0,0.2);
    transform: translatey(-15px) rotate(-25deg);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.3);
    transform: translatey(0px) rotate(-20deg);
  }
}