html {
  background-color: var(--color-background);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
p {
  font-family: "quador", serif;
  font-weight: var(--weight-normal);
  font-size: 1rem;
  color: var(--color-text);
  text-align: center;
}

a {
  color: var(--color-text);
}

.bold {
  font-weight: var(--weight-bold);
}

.logo {
  width: 35vw;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 1rem;
}